@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --orange:#f49438;
    --green:#89CC90;
    --blue:#3387ac;
    --blue-1:#329EFF;
    --blue-2:#4f7ae2;
    --white:#ffffff;
    --light:#eeeeee;
    --black:#000000;
    --dark:#333333;
    --btn-br:0.35rem;
    --br:0.5rem;
    --br-sm:0.35rem;
    --gradient: linear-gradient(to right, var(--green), var(--blue), var(--blue-1));
    --dashboard-sidebar-width: 220px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
main{
    width: 100%;
}

.dashboard-container{
    background-image: var(--gradient);
    display: flex;
}
.dashboard-sidebar{
    background-color: var(--dark);
    height: 100vh;
    width: var(--dashboard-sidebar-width);
    box-shadow: 0 0 10px #0003;
    border-right: 1px solid #fff2;
}
.dashboard-content{
    width: calc(100vw - var(--dashboard-sidebar-width));
    /* padding: 1.5rem; */
}
.ds-top,.dc-top{
    width: 100% !important;
    background-color: var(--black);
    height: 3rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.ds-top{
    justify-content: space-between;
}
.ds-menu-toggle{
    border: none;
    padding: 0;
}
.ds-logo img{
    width: 110px;
    filter: invert(1);   
}
.ds-menu-toggle .bar-1,.ds-menu-toggle .bar-2,.ds-menu-toggle .bar-3{
    display: block;
    width: 1rem;
    height: 1px;
    background-color: var(--light);
}
.ds-menu-toggle .bar-2{
    margin: 0.4rem 0;
    width: 1.5rem;
}
.ds-menu{
    padding: 1rem 1.5rem 0;
}
.sb-menu-group{
    height: calc(100vh - 120px);
    overflow-y: auto;
}
.ds-menu ul{
    list-style: none;
    padding-left: 0;
}
.sb-main-menu{
    /* border-bottom: 1px dashed #fff4; */
    padding-bottom: 0;
    /* height: 100%; */
    /* overflow: auto; */
}
.sb-menu-title{
    color: var(--blue-1);
    font-size: 1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 0.75rem;
}
/* .ds-menu .sb-main-menu::-webkit-scrollbar{
    display: none;
} */
.ds-menu ul li{
    width: 100%;
    line-height: 1;
}
.ds-menu .sb-main-menu li{
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #fff2;
}
.ds-menu .sb-main-menu li:last-child{
    /* margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none !important; */
}
.ds-menu ul li a{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    width: 100%;
    color: var(--light);
    font-weight: 400;
    font-size: 0.85rem;
}
.ds-menu ul li a:hover,.ds-menu ul li a.active{
    color: var(--green);
}
.ds-menu ul li a i{
    font-size: 1rem;
}
.text-orange{
    color: var(--orange) !important;
}
.text-green{
    color: var(--green) !important;
}
.dc-top .search-sect{
    width: 500px;
}
.dc-top .form-search-box{
    width: 100%;
    display: flex;
    border-radius: var(--br-sm);
    overflow: hidden;
    background-color: #fff4;
    padding: 2px;
}
.dc-top{
    justify-content: space-between;
}
.dc-top .form-search-box input{
    width: calc(100% - 3rem);
    color: #fff;
    border:none !important;
    outline: none !important;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
}
.dc-top .search-select{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.25rem;
    height: 100%;
    color: var(--light);
    border-left: 1px solid #fff4;
    margin: 1px 0.75rem 0 0;
}
.dc-top .search-select option{
    color: var(--black);
}
.dc-top .form-search-box input::placeholder{
    color: #fffb;
}
.dc-top .form-search-box button{
    width: 3rem;
    padding: 0 0.75rem;
    background-color: #fff8;
    color: var(--black);
    font-weight: 700;
    border: none;
    outline: none;
    margin: -2px;

}
.user-dashboard-avatar{
    height: 24px;
    width: 24px;
    padding: 2px;
    border: 1px solid #fff8;
    background-color: var(--white);
    border-radius: 50%;
}
.dc-content{
    height: calc(100vh - 48px);
    overflow-y: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
}
.dc-content-inner{
    height: 100%;
    width: 100%;
    /* overflow-y: auto; */
    border-radius: var(--br);
    background-color: #fff8;
    backdrop-filter: blur(10px);
    padding: 1.25rem 1.5rem;
}
.bid-list-container{
    height: calc(100% - 5rem);
    overflow-y: auto;
    width: 100%;
    padding-right: 0.5rem;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: var(--br-sm);
}
::-webkit-scrollbar-thumb {
    border-radius: var(--br-sm);
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.toggle-sidebar{
    --dashboard-sidebar-width: 65px;
}
.bid-card{
    background-color: var(--white);
    padding: 1rem;
    border-radius: var(--br);
    box-shadow: 0 0 15px #0002;
    width: 100%;
    color: #333;
    margin-bottom: 1rem;
}
.bid-card:last-of-type{
    margin-bottom: 0;
}
.bid-card-title{
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--blue-1);
}
.xs-small{
    font-size: 0.75rem;
}
.vet-badge{
    display: inline-block;
    padding: 0.125rem 0.5rem;
    background-color: var(--blue-1);
    color: var(--white);
    border-radius: 0.25rem;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}
.section-title{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    height: 2rem;
}
.pagination{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 2rem;
    margin-top: 0.75rem;
    gap: 0.5rem;
}
.pg-item{
    height: 1.75rem;
    width: 1.75rem;
    border-radius: var(--br-sm);
    background-color: var(--white);
    border: 1px solid #0006;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.pg-item.active,.pg-item:hover{
    background-color: var(--blue-1);
    color: var(--white)
}

@media screen and (min-width:999px) {
    .toggle-sidebar{
        --dashboard-sidebar-width: 65px;
    }
    .toggle-sidebar :is(.sb-menu-title,.sb-menu-text), .toggle-sidebar .sb-menu-group::-webkit-scrollbar{
        display: none !important;
    }
    .ds-menu-mobile-toggle{
        display: none;
    }
}

@media screen and (max-width:999px) {
    .ds-menu-mobile-toggle{
        cursor: pointer;
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 0;
        color: var(--white);
        position: absolute;
        right: 0.75rem;
        top: 1rem;
    }
    .dashboard-sidebar{
        position: fixed;
        left: -100%;
        --dashboard-sidebar-width:250px !important;
        z-index: 100;
    }
    .toggle-sidebar .dashboard-sidebar{
        position: fixed;
        left: 0;
    }
    .dashboard-content{
        width: 100%;
    }
}